{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>{{user.username}}</title> {% endblock %}
</head>
<body>
{% block content %}
<br>
<div>
<h1>{{ viewed_user.username }}</h1>
    <br>
{% if viewed_user == user %}
<h1>Вы просматриваете свою страницу</h1>
{% else %}
    {% if isfriend %}
    <button class="btn btn-primary" onclick="location.href='{% url 'remove' pk=viewed_user.id redirect_to='profile' %} ">Удалить из друзей</button>
    {% else %}
    <button class="btn btn-primary" onclick="location.href='{% url 'invite' user=viewed_user %}'">Добавить в друзья</button>
    {% endif %}
    {% if isblocked %}
    <button class="btn btn-secondary" onclick="location.href='{% url 'blacklist' pk=viewed_user.id operation='remove' %}'">Разблокировать</button>

    {% else %}
        <button class="btn btn-secondary" onclick="location.href='{% url 'blacklist' pk=viewed_user.id operation='add' %}'">Заблокировать</button>
    {% endif %}
    <br>
    <br>
    <button class="btn btn-primary btn-lg" onclick="location.href='{% url 'storage' pk=viewed_user.id %}'">Открыть хранилище пользователя</button>
{% endif %}
    </div>
{% endblock %}
</body>
</html>